{% extends "base.html" %}
{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}
{% block content %}
    <img src="{{user.img_url}}" class="d-block mx-auto profile-pic my-2">
    <h1 class="text-center display-5">{{user.full_name}}</h1>
    
    <form action="/users/{{user.id}}/edit" method="POST" class="mx-auto my-2 col-3">
        <label for="first-name" class="form-label">First name</label>
            <input type="text" name="first-name" placeholder="First name" class="form-control mx-auto mb-2">
        <label for="last-name" class="form-label">Last name</label>
            <input type="text" name="last-name" placeholder="Last name" class="form-control mx-auto mb-2">
        <label for="img-url" class="form-label">Profile picture url</label>
            <input type="text" name="img-url" placeholder="Img url" class="form-control mx-auto mb-2">
        <button class="btn btn-outline-primary d-block mx-auto mt-2">Submit Edit</button>
    </form>
    <form action="/users/{{user.id}}" class="mx-auto col-3 mb-5">
        <button class="btn btn-outline-danger d-block mx-auto">Cancel</button>
    </form>
{% endblock %}